<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="cadena_conexion" connectionString="Data Source=DESKTOP-E4UI5LF\SQLEXPRESS;Initial Catalog=S_venta;Integrated Security=True" providerName="System.Data.SqlClient"
			
			/>
	</connectionStrings>
</configuration>